/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    line-height: 1.6;
    padding: 0 20px;
    background-color: #4270b4;
    color: #dddada;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
.section {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 5px;
}

/* Botón */
.btn {
    display: inline-block;
    background-color: #0077b5;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #005582;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Imagen de perfil */
img {
    max-width: 150px;
    border-radius: 50%;
}

/* Responsividad */
@media (max-width: 768px) {
    header, footer {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    img {
        max-width: 100px;
    }
}
